<nav id="sidebar" class="bg-light">
    <div class="sidebar-sticky pt-3">
        <h5 class="sidebar-heading px-3 mb-3 text-muted">Navigation</h5>
        <ul class="navbar-nav flex-column w-100 px-3 pt-0">
            <li class="nav-item mb-3">
                <a class="nav-link" href="/Chef/Chef/OrderItems" style="font-size: 1.1rem;">Заказы на кухне</a>
            </li>
            <li class="nav-item mb-3">
                <a class="nav-link" href="/Chef/Chef/Menu" style="font-size: 1.1rem;">Меню</a>
            </li>
        </ul>
    </div>
</nav>