@{
    Layout = null;
}


<header id="mainHeader" class="navbar navbar-dark bg-primary shadow-sm fixed-top">
    <div class="container">
        <span class="navbar-brand mb-0 h1" style="font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 1.8rem;">
            <i class="fas fa-utensils me-2"></i>
            ReStik Management System
        </span>
    </div>
</header>
