<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            background-color: #e0f7ff;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .login-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
            text-align: center;
            width: 300px;
        }

            .login-container h2 {
                margin-bottom: 15px;
            }

        .input-field {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .login-button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px;
            width: 100%;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s;
        }

            .login-button:hover {
                background-color: #45a049;
            }

        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 10px;
            display: none;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h2>Вход</h2>
        <input type="text" id="username" class="input-field" placeholder="Логин">
        <input type="password" id="password" class="input-field" placeholder="Пароль">
        <button class="login-button" onclick="login()">Войти</button>
        <p class="error-message" id="error-message">Неверный логин или пароль</p>
    </div>

    <script>
        function login() {
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            if (username === "admin" && password === "admin") {
                window.location.href = "/ChefPage";
            } else {
                document.getElementById("error-message").style.display = "block";
            }
        }
    </script>
</body>
</html>
