@using eUseControl.Web.Models
@model List<TableViewModel>

@{
    ViewBag.Title = "Выбор столика";
}

<div class="container mt-4">
    <h2>Свободные столики</h2>
    <div class="row">
        @foreach (var table in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Столик #@table.TableNumber</h5>
                        <p class="card-text">
                            Вместимость: @table.Capacity человек<br>
                            Статус: @table.Status
                        </p>
                        @if (table.Status == eUseControl.Domain.Enums.TStatus.Free)
                        {
                            @Html.ActionLink("Взять заказ", "TakeOrder", new { area = "Waiter", tableNumber = table.TableNumber },
                                new { @class = "btn btn-primary" })
                        }
                        else
                        {
                            @Html.ActionLink("Взять заказ", "TakeOrder", new { area = "Waiter", tableNumber = table.TableNumber },
                                new { @class = "btn btn-secondary disabled", @disabled = "disabled" })
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>